<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <h3><%= user %>'s, profile!</h3>
    <div class="row">
        <textarea class="form-control col-md-8" rows="3" id="chirp"></textarea><button class="btn btn-default" id="chirp-btn">chirp!</button>
    </div>
    <div class="jumbotron">
        <% for(var i in chirps) {%>
            <%= chirps[i].user + ' said on ' %> <%= chirps[i].timestamp%>
            <p><%= chirps[i].text %></p>
            <% } %>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="../js/profile.js"></script>
</body>
</html>